* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header {
  display: flex;
  justify-content: center;
  text-align: center;
} */

ul {
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid red;
}
li a {
  text-decoration: none;
}

.bg {
  height: 50vh;
  background: url("image01.jpeg") no-repeat center center/cover;
  width: 100%;
}

.img-disp {
  position: absolute;
  width: 100%;

  font-family: "Roboto", sans-serif;
}
.bg {
  position: absolute;
}
div.main_service {
  margin-left: 7%;
  background-color: rgba(14, 9, 1, 0.938);
  padding: 2em;
  width: 25em;
  /* border: 1px solid rgb(221, 221, 56, 0.2); */
  border-radius: 10px;
  margin-top: 18rem;
  position: absolute;
  box-shadow: 10px 10px rgb(230, 121, 121, 0.5);
}
.main_service h2 {
  color: rgb(224, 71, 71);
  font-size: 35px;
  font-family: "Parisienne", cursive;
  /* border: 1px solid red; */
  padding: 3px;
}
.main_service p {
  color: rgba(204, 197, 195, 0.76);
  font-size: 13px;
  word-spacing: 1px;
  padding: 20px;
}
.main_service:hover {
  /* background-color: rgb(226, 184, 68, 0.7); */
  background-color: rgba(14, 14, 12, 0.938);
  zoom: 1.05;
}

.container_two {
  background-color: rgb(14, 11, 11);
  height: 35vh;
}
.container_two h2,
.container_three h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-top: 150px;
  font-size: 45px;
  color: rgb(237, 221, 221);
  font-family: "Molle", cursive;
}
.container_three {
  background-color: rgb(220, 78, 78);
  height: 50vh;
}
.container_three h3 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}
